@import 'tailwindcss';

@theme {
  --color-pjGray: #d3d3d3;
  --color-pjYellow: #FFEB3B;
  --color-pjOrange: #ffb347;
  --color-pjBlue: #B3E5FC;
  --color-pjSoftGray: #f5f5f5;
  --color-pjSoftYellow: #fff59d;
  --color-pjSoftBlue: #e3f2fd;
  --color-pjSoftGreen: #c8e6c9;
}
